<div layout="row" layout-padding layout-fill layout-wrap>
  <md-content flex> 
    <!-- Formulario Usuarios -->
    <fieldset style="border-style: solid; border-width: 1px;">
      <legend>Grupo</legend>
        <form name="FormUsuario">          <!-- Contenido -->
          <md-select placeholder="Plan" ng-model="PlanCarreraSeleccionado" >
            <md-option ng-repeat="data in PlanCarrera" value="{{data}}">{{data.Plan}}</md-option>
          </md-select>
          <md-select placeholder="Semestre" ng-model="SemestreSeleccionado" >
            <md-option ng-repeat="data in Semestre" value="{{data}}">{{data}}</md-option>
          </md-select>
          <md-select placeholder="Grupo" ng-model="GrupoSeleccionado" >
            <md-option ng-repeat="data in Grupo" value="{{data}}">{{data}}</md-option>
          </md-select>
        </form>
    </fieldset>
    <br>
    <fieldset style="border-style: solid; border-width: 1px;">
      <legend>Materia - Docente</legend>
        <form name="FormUsuario">
          <!-- Contenido -->
          <md-select placeholder="Docente" ng-model="DocenteSeleccionado" required>
            <md-option ng-repeat="data in Docente" value="{{data}}">{{data.Nombre}}</md-option>
          </md-select>
          <md-select placeholder="Materia" ng-model="MateriaSeleccionado" required>
            <md-option ng-repeat="data in Materia" value="{{data}}">{{data.Descripcion}}</md-option>
          </md-select>
          <md-button  class="md-fab md-primary" aria-label="Agregar Usuario" ng-click="GuardarMateria()" ng-disabled="FormUsuario.$invalid">
            <md-icon md-svg-src="iconos/AddIcon.svg" ng-style="{'color':'white'}"></md-icon>
          </md-button>
        </form>
    </fieldset>
    <table border="1">
      <thead>
        <tr>
          <th>Materia</th>
          <th>Docente</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in MateriaDocente">
          <td>{{data.Materia.Descripcion}}</td>
          <td>{{data.Docente.Nombre}}</td>
        </tr>
      </tbody>
      
    </table>
    <br>
    <table border="1" flex>
      <thead>
        <tr>
          <th>Horas</th>
          <th ng-repeat="dia in Dias">{{dia.dia}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="hora in Horas">
          <td>{{hora.Hora}}</td>
          <td ng-repeat="dia in Dias"> 
            <md-button class="md-icon-button" aria-label="More" ng-click="showAdvanced();Prueba(dia,hora)">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
      
    </table>
    <span ng-repeat="data in MateriaDocente">
    {{data.Materia.Descripcion}} - {{data.Docente.Nombre}}
    </span>
    
  </md-content>
  <script type="text/ng-template" id="dialog1.tmpl.html">
    <md-dialog aria-label="Agregar Materia">
      <form>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Agregar Materia</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
              <md-icon md-svg-src="iconos/DeleteIcon.svg" aria-label="Close dialog"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content>
          <md-select placeholder="Docente" ng-model="DocenteSeleccionado" required>
            <md-option ng-repeat="data in ctrl.MateriaDocente" ng-value="{{data}}">{{data.Materia.Descripcion}} - {{data.Docente.Nombre}}</md-option>
          </md-select>
        </md-dialog-content>
        <div class="md-actions" layout="row">
          <span flex></span>
          <md-button ng-click="answer('Aceptar Button')" class="md-primary">
            Aceptar
          </md-button>
          <md-button ng-click="cancel()" class="md-primary">
            Cancel
          </md-button>
        </div>
      </form>
    </md-dialog>
  </script>
</div>