<div layout="row" layout-padding layout-fill layout-wrap>
  <md-content flex> 
    <!-- Formulario Usuarios -->
    <fieldset style="border-style: solid; border-width: 1px;">
      <legend>Grupo</legend>
        <form name="FormUsuario">
          <!-- Contenido -->
          <md-select placeholder="Plan" ng-model="PlanCarreraSeleccionado" >
            <md-option ng-repeat="data in PlanCarrera" value="{{data}}">{{data.Plan}}</md-option>
          </md-select>
          <md-select placeholder="Semestre" ng-model="SemestreSeleccionado" >
            <md-option ng-repeat="data in Semestre" value="{{data}}">{{data}}</md-option>
          </md-select>
          <md-select placeholder="Grupo" ng-model="GrupoSeleccionado" >
            <md-option ng-repeat="data in Grupo" value="{{data}}">{{data}}</md-option>
          </md-select>
        </form>
    </fieldset>
    <br>
    <fieldset style="border-style: solid; border-width: 1px;">
      <legend>Materia - Docente</legend>
        <form name="FormUsuario">
          <!-- Contenido -->
          <md-select placeholder="Docente" ng-model="DocenteSeleccionado" required>
            <md-option ng-repeat="data in Docente" value="{{data}}">{{data.Nombre}}</md-option>
          </md-select>
          <md-select placeholder="Materia" ng-model="MateriaSeleccionado" required>
            <md-option ng-repeat="data in Materia" value="{{data}}">{{data.Descripcion}}</md-option>
          </md-select>
          <md-button  class="md-fab md-primary" aria-label="Agregar Usuario" ng-click="GuardarMateria()" ng-disabled="FormUsuario.$invalid">
            <md-icon md-svg-src="iconos/AddIcon.svg" ng-style="{'color':'white'}"></md-icon>
          </md-button>
        </form>
    </fieldset>
    <table border="1">
      <thead>
        <tr>
          <th>Materia</th>
          <th>Docente</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in MateriaDocente">
          <td>{{data.Materia.Descripcion}}</td>
          <td>{{data.Docente.Nombre}}</td>
        </tr>
      </tbody>
      
    </table>
    <br>
    <table border="1" flex>
      <thead>
        <tr>
          <th>Horas</th>
          <th ng-repeat="data in Dias">{{data.dia}}</th>
        </tr>
      </thead>
      <tbody ng-repeat="data in Horas">
        <tr>
          <td>{{data.Hora}}</td>
          <th> 
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Lunes')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
          <th>
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Martes')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
          <th>
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Miercoles')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
          <th>
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Jueves')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
          <th>
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Viernes')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
          <th>
            <md-button class="md-icon-button" aria-label="More" ng-click="MostrarInfo(data.Hora, 'Sabado')">
              <md-icon md-svg-icon="iconos/AddIcon2.svg"></md-icon>
            </md-button>
          </th>
        </tr>
      </tbody>
      
    </table>
    
  </md-content>
</div>